apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-dotnet-basic-kvfcqoaa
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-dotnet-basic-kvfcqoaa:ec33ed5755b2a31af6d73fc45743ae7f22123106@sha256:51ad1277bf4d18af857bb171e65cf93eb5b90f6e5ecbe38064836e2cbf821cde
        name: container-image  
